<h2 class="m-t-1">大会一覧</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>公開</th>
      <th>大会名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.active == true ? "○" : "×" %></td>
      <td><%= link_to event.name, admin_event_path(event) %></td>
      <td>
        <%= link_to '編集', edit_admin_event_path(event), class: "btn btn-secondary", role: 'button'%>
        <%= link_to '削除', admin_event_path(event), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger", role: 'button' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規大会', new_admin_event_path, class: "btn btn-success", role: 'button' %>
