<h2 class="m-t-2">
  <%= @event.name %>
</h2>

<h3 class="m-t-1">ラウンド一覧</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ラウンド名</th>
    </tr>
  </thead>
  <tbody>
    <% @event.rounds.each do |round| %>
      <tr>
        <td><%= link_to round.name, round_path(round) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr class="m-y-2" />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="m-t-1">メモ</h4>
      <p>
        <%= @event.description %>
      </p>
    </div>
    <div class="col-md-6">
      <h3 class="m-t-1">管理者</h3>

      <dl>
        <dt>Twitter ID</dt>
        <dd><%= @event.owner ? "@" + @event.owner.screen_name : "N/A" %></dd>
        <dt>名前</dt>
        <dd><%= @event.owner ? @event.owner.name : "N/A" %></dd>
      </dl>

      <h3 class="m-t-1">コントリビューター</h3>

      <ul>
        <% @event.contributors.each do |cont| %>
          <li>@<%= cont.screen_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<hr class="m-y-2" />

<%= link_to '戻る', events_path, class: "btn btn-secondary", role: 'button' %>
