<!DOCTYPE html>
<html>
  <head>
    <title>Qtoolf[Admin]</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid">
      <div class="header clearfix">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
            Qtoolf
            <% if @current_user %>
              (as @<%= @current_user.screen_name %>)
            <% end %>
          </a>
          <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <% if @current_user %>
                  <a class="nav-link" href="/logout">Logout</a>
                <% else %>
                  <a class="nav-link" href="/auth/twitter">Login with Twitter</a>
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="qtf-orange-bg">
        <div class="qtf-page-header">
          <h1 class="display-4">Admin</h1>
        </div>
      </div>

      <!-- alerts -->
      <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:alert] %>
      </div>
      <% end %>
      <!-- end of alerts -->

      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
